/******Index******/
.indexBody, .homeBody{
    background-image: url('../img/wpp.jpg');
}

.navSpan{
    float: none;
    margin-left: 50%;
}

.mainDiv{
    padding: 10px;
    height: 500px;
    background-color: #e3e3e3;
    border-radius: 5px;
    opacity: 0.9;
}

.textoDiv{
    float: left;
    margin-top: 50px;
    margin-left: 20px;
    font-size: 25px;
    width: 50%;
    height: 100%;
}

.divisoriaDiv{
    float: left;
    height: 100%;
    margin-left: 1%;
    border-right-style: solid;
}

#divFormulario{
    float: right;
    width: 30%;
    margin-right: 10%;
    margin-top: 50px;
}

/*Login*/
.divLogin{
    background-color: black;
    border-radius: 5px;
    height: 300px;
    margin-top: 10%;
    text-align: center;
    padding: 25px;
}

#aCriarConta, #aRecuperaSenha, .aLogin{
    color: white;
}

#aCriarConta:hover, #aRecuperaSenha:hover, .aLogin:hover{
    text-decoration-line: underline;
    cursor: pointer;
    color: white;
}

/*Cadastro*/
.divCadastro{
    background-color: black;
    border-radius: 5px;
    height: 360px;
    margin-top: 4%;
    text-align: center;
    padding: 30px;
}

.textLogin, .textCadastro, .textRecuperaSenha{
    color: white;
    font-size: 18px;
}

/*Recuperar Senha*/
.divRecuperaSenha{
    background-color: black;
    border-radius: 5px;
    height: 230px;
    margin-top: 20%;
    text-align: center;
    padding: 30px;
}

#resultadoSubmit{
    vertical-align: middle;
    text-align: center;
    font-size: 15px;
}

/******Home******/
.cards{
    padding: 10px;
    height: 450px;
    background-color: #e3e3e3;
    border-radius: 5px;
    opacity: 0.9;
}

.image{
    border: solid transparent;
    position: relative;
    transition-duration: 0.5s;
    transition: opacity 0.5s, visibility 0.5s;
}

.image:hover{
    border: solid #00ff2a;
    transition-duration: 0.5s;
    color:  #fff;
    opacity: 1;
    visibility: visible;
    cursor: pointer;
}

.description{
    font-family: trebuchet MS, sans-serif;
    visibility: hidden;
    position: fixed;
    width: 280px;
    text-align: center;
    color: black;
}

.img_wrap:hover .description{
    visibility: visible;
    opacity: 1;
}

.img_wrap h4{
    text-align: center;
}

.cardsTable{
    margin-top: 20px;
}

.divLevels, .divLoja{
    padding: 30px;
}

#niveisDesafios, .divOpcoesLoja{
    text-align: center;
}

.statusDiv i{
    color: #00ff2a;
}

#divErro{
    color: red;
}

#divSucesso{
    color: #1CA212;
}

#usuarioCadastrado, #naoAutenticado{
    text-align: center;
    font-size: 16px;
    border-radius: 3px;
    background-color: #e3e3e3;
    width: 290px;
    padding: 7px;
    margin-bottom: 10px;
}

.error{
    text-align: center;
    padding-top: 50px;
}

.erroId{
    font-size: 150px;
    opacity: 0.3;
}

.retornarLink:hover{
    cursor: pointer;
}