<div class="divLogin" id="formLogin">
    <p class="textLogin">Acessar conta</p>
    <form id="fLogin" method="POST" action="php/functions/session/fn_login.php">
        <label for="tEmail"><input type="email" id="tEmail" name="email" placeholder="Email" class="form-control"/></label>
        <br>
        <label for="pSenha"><input type="password" id="pSenha" name="senha" placeholder="Senha" class="form-control"/></label>
        <br>
        <button type="submit" id="bEntrar" name="entrar" class="btn btn-success">Entrar</button>
    </form>
    <br>
    <a id="aCriarConta">Criar conta</a>
    <br>
    <a id="aRecuperaSenha">Esqueci minha senha</a>
</div>