<div class="body ">
    <div class="boxes cards">
        <table align="center" cellpadding="20">
            <tr>
                <td>
                    <div class="caixaEsquerdaMenu cardDesafio img_wrap">
                        <h4 class="p1">Desafios</h4>
                        <a><img src="img/desafio.png" width="280px" height="280px" class="image"/></a>
                        <p class="description">Acessar desafios diários</p>
                        <!--<button class="buttonGreenLeftM">Nivel Easy</button>
                        <button class="buttonGreenCenterM">Nivel Medium</button>
                        <button class="buttonGreenRightM">Nivel Hard</button>-->
                    </div>
                </td>
                <td>
                    <div class="caixaMeioMenu cardLoja img_wrap">
                        <h4 class="p1">Loja</h4>
                        <a><img src="img/loja.jpeg" width="280px" height="280px" class="image"></a>
                        <p class="description">Ir para a loja</p>
                        <!--<button class="buttonGreenMenu">Comprar coins</button>-->
                    </div>
                </td>
                <td>
                    <div class="caixaDireitaMenu img_wrap">
                        <h4 class="p1">Perfil de Usuario</h4>
                        <a><img src="img/user.png" width="280px" height="280px" class="image"></a>
                        <p class="description">Acessar o perfil de usuário</p>
                        <!--<button class="buttonGreenMenu">Acessar</button>-->
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>