<!-- Modal -->
<div class="modal fade" id="modal_eflexoes" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal_eflexoesTitle">Flexões</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Descrição da atividade: Realize 100 flexões dentro de 24h.
        <br>
        Pontos por conclusão: 100
        <br>
        Início em: <b id="watch"></b>
        <div id="statusEFlexoes" class="statusDiv"></div>
      </div>
      <div class="modal-footer">
        <input type="hidden" value="001" id="id_desafio"/>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-success" id="aceitar_eflexoes">Aceitar Desafio</button>
      </div>
    </div>
  </div>
</div>