<div id="formCadastro" align="center" style="background-color: black; opacity: 0.6; height: 300px; margin-top: 10%;">
    <form method="POST" action="../../php/functions/users/fn_create_user.php">
        <label for="tNome"><input type="text" id="tNome" name="nome_completo" placeholder="Nome Completo" class="form-control"/></label>
        <br>
        <label for="tNewEmail"><input type="email" id="tNewEmail" name="newEmail" placeholder="Email" class="form-control"/></label>
        <br>
        <label for="tNewSenha"><input type="password" id="tNewSenha" name="newSenha" placeholder="Senha" class="form-control"/></label>
        <br>
        <label for="tConfSenha"><input type="password" id="tConfSenha" name="confSenha" placeholder="Confirmar Senha" class="form-control"/></label>
        <br>
        <button type="submit" id="bCadatrar" name="cadastrar" class="btn btn-success">Confirmar Cadastro</button>
    </form>
</div>