<div id="formLogin" align="center" style="background-color: cadetblue; height: 280px; margin-top: 10%; display: none;">
    <form method="POST" action="../../php/functions/session/fn_login.php">
        <label for="tEmail"><input type="email" id="tEmail" name="email" placeholder="Email" class="form-control"/></label>
        <br>
        <label for="pSenha"><input type="password" id="pSenha" name="senha" placeholder="Senha" class="form-control"/></label>
        <br>
        <button type="submit" id="bEntrar" name="entrar" class="btn btn-success">Entrar</button>
        <br>
        <a>Criar conta</a>
        <br>
        <a>Esqueci minha senha</a>
    </form>
</div>